
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card"> 
                <div class="card-content">
                    <span class="card-title center-align">Login</span>

                    {{#if error}}
                        <p class="red-text center-align">{{error}}</p>
                    {{/if}}

                    <form action="/auth/login" method="post">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="username" name="username" type="text" class="validate" required>
                            <label for="username">Username</label>
                        </div>

                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input id="password" name="password" type="password" class="validate" required>
                            <label for="password">Password</label>
                        </div>

                        <div class="row center-align" style="margin-top: 20px;">
                            <button class="btn waves-effect waves-light blue" type="submit">
                                Login
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>

                    <div class="center-align" style="margin-top: 15px;">
                        Don't have an account? <a href="/auth/register">Register here</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f4f7f6;
        padding-top: 50px; 
    }
    .card {
        margin-top: 20px;
    }
</style>