<!DOCTYPE html>
<html>
<head>
    <title>Homegape</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="home-container">
        <h1>Welcome to layout homapage!</h1>
        {{{ body }}}

        <p><a href="/product">Go to product page</a></p>
    </div>
</body>
</html>