<div class="center">
    <a href="/product"><img src="/images/product_management.jpg" alt=""></a>
    {{#if username}}
        <h1>Welcome back, {{username}}!</h1>
    {{else}}
        <h1>Welcome Guest!</h1>
    {{/if}}
</div>