<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <header class="main-header">
        <nav> 
            <div class="container nav-wrapper">
                <a href="/product" class="brand-logo">
                    <i class="material-icons">store</i>MyStore
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="/product" {{#equals title 'Product Management'}}class="active"{{/equals}}>
                            Products
                        </a>
                    </li>

                    {{#equals role 'admin'}}
                        <li>
                            <a href="/category" {{#equals title 'Category Management'}}class="active"{{/equals}}>
                                Categories
                            </a>
                        </li>
                    {{/equals}}

                    {{#if username}}
                        <li><span style="padding: 0 15px;">Welcome, {{username}}!</span></li>
                        <li>
                            <a href="/auth/logout" class="btn waves-effect waves-light red lighten-1">
                                Logout
                                <i class="material-icons right">exit_to_app</i>
                            </a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/auth/login" class="btn waves-effect waves-light blue">
                                Login
                                <i class="material-icons right">account_circle</i>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>

    <div class="container main-content" style="margin-top: 30px;"> 
        {{{body}}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/scripts/materialize.js"></script>
    <script src="/scripts/validation.js"></script> 

</body>
</html>